body {
    background-color: darkslateblue;
}

div {
    background-color: azure;
    width: 20em;
    height: 20em;
    border-radius: 25px;
    /* transition: .2s ease-in-out; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}